# Part 1 - Questions

1. How many families are in this file?
2. Which family has the most species represented?
3. How many families have only a single species in them?
4. How many families are present in the eBird data?
5. How many species are in each family of the eBird data?

1. 194   
tail -n +4 formatted.nature.csv | cut -d ',' -f3 | sort | uniq | wc -l
2. Trochilidae  
tail -n +4 formatted.nature.csv | cut -d ',' -f3 | sort | uniq -c
3. 60   
tail -n +4 formatted.nature.csv | cut -d ',' -f3 | sort | uniq -c | grep -w "l" -c 
4. 239   
tail -n +2 formatted.nature.csv | cut -d ',' -f8 | sort | uniq | wc -l
5. 4 Acanthisittidae (New Zealand Wrens)
     76 Acanthizidae (Thornbills and Allies)
    386 "Accipitridae (Hawks
     80 Acrocephalidae (Reed-Warblers and Allies)
     23 Aegithalidae (Long-tailed Tits)
      5 Aegithinidae (Ioras)
     14 Aegothelidae (Owlet-nightjars)
    148 Alaudidae (Larks)
    161 Alcedinidae (Kingfishers)
     40 "Alcidae (Auks
    364 "Anatidae (Ducks
      3 Anhimidae (Screamers)
      4 Anhingidae (Anhingas)
      1 Anseranatidae (Magpie Goose)
    152 Apodidae (Swifts)
      7 Apterygidae (Kiwis)
      3 Aramidae (Limpkin)
    126 "Ardeidae (Herons
     14 Artamidae (Woodswallows)
      2 Atrichornithidae (Scrub-birds)
      1 Balaenicipitidae (Shoebill)
     11 Bernieridae (Malagasy Warblers)
      4 Bombycillidae (Waxwings)
      5 Brachypteraciidae (Ground-Rollers)
     48 Bucconidae (Puffbirds)
     74 Bucerotidae (Hornbills)
      2 Bucorvidae (Ground-Hornbills)
      3 Buphagidae (Oxpeckers)
     11 Burhinidae (Thick-knees)
     26 Cacatuidae (Cockatoos)
      9 Calcariidae (Longspurs and Snow Buntings)
      5 Callaeidae (Wattlebirds)
     10 Calyptomenidae (African and Green Broadbills)
    111 Campephagidae (Cuckooshrikes)
     18 Capitonidae (New World Barbets)
    124 Caprimulgidae (Nightjars and Allies)
     93 Cardinalidae (Cardinals and Allies)
      2 Cariamidae (Seriemas)
      4 Casuariidae (Cassowaries and Emu)
     12 Cathartidae (New World Vultures)
     19 Certhiidae (Treecreepers)
     42 Cettiidae (Bush-Warblers and Allies)
      2 Chaetopidae (Rockjumpers)
     90 Charadriidae (Plovers and Lapwings)
      2 Chionidae (Sheathbills)
     13 Chloropseidae (Leafbirds)
     25 Ciconiidae (Storks)
     10 Cinclidae (Dippers)
     14 Cinclosomatidae (Quail-thrushes and Jewel-babblers)
    222 Cisticolidae (Cisticolas and Allies)
      9 Climacteridae (Australasian Treecreepers)
      3 Cnemophilidae (Satinbirds)
      7 Coliidae (Mousebirds)
    425 Columbidae (Pigeons and Doves)
     13 Conopophagidae (Gnateaters)
     18 Coraciidae (Rollers)
      2 Corcoracidae (White-winged Chough and Apostlebird)
    190 "Corvidae (Crows
     76 Cotingidae (Cotingas)
     72 "Cracidae (Guans
     26 Cracticidae (Bellmagpies and Allies)
    206 Cuculidae (Cuckoos)
      3 Dasyornithidae (Bristlebirds)
     57 Dicaeidae (Flowerpeckers)
     40 Dicruridae (Drongos)
     33 Diomedeidae (Albatrosses)
      1 Donacobiidae (Donacobius)
      1 Dromadidae (Crab Plover)
      1 Dulidae (Palmchat)
      1 Elachuridae (Spotted Elachura)
    318 Emberizidae (Buntings and New World Sparrows)
    176 Estrildidae (Waxbills and Allies)
      1 Eulacestomatidae (Ploughbill)
      1 Eupetidae (Rail-babbler)
     11 Eurylaimidae (Asian and Grauer's Broadbills)
      1 Eurypygidae (Sunbittern)
    109 Falconidae (Falcons and Caracaras)
      4 Falcunculidae (Shrike-tit)
     17 Formicariidae (Antthrushes)
      6 Fregatidae (Frigatebirds)
    325 "Fringillidae (Finches
    452 Furnariidae (Ovenbirds and Woodcreepers)
     23 Galbulidae (Jacamars)
      8 Gaviidae (Loons)
     23 Glareolidae (Pratincoles and Coursers)
     74 Grallariidae (Antpittas)
     23 Gruidae (Cranes)
     16 Haematopodidae (Oystercatchers)
      3 Heliornithidae (Finfoots)
      5 Hemiprocnidae (Treeswifts)
    146 Hirundinidae (Swallows)
     50 Hydrobatidae (Storm-Petrels)
      4 Hyliotidae (Hyliotas)
      1 Hylocitreidae (Hylocitrea)
      1 Hypocoliidae (Hypocolius)
      1 Ibidorhynchidae (Ibisbill)
    166 Icteridae (Troupials and Allies)
      1 Ifritidae (Ifrita)
     20 Indicatoridae (Honeyguides)
      2 Irenidae (Fairy-bluebirds)
     13 Jacanidae (Jacanas)
     59 Laniidae (Shrikes)
    209 "Laridae (Gulls
    171 Leiothrichidae (Laughingthrushes and Allies)
      1 Leptosomidae (Cuckoo-Roller)
     76 Locustellidae (Grassbirds and Allies)
     64 Lybiidae (African Barbets)
      2 Machaerirhynchidae (Boatbills)
     25 Macrosphenidae (African Warblers)
     72 Malaconotidae (Bushshrikes and Allies)
     40 Maluridae (Fairywrens)
     42 Megalaimidae (Asian Barbets)
     23 Megapodiidae (Megapodes)
      2 Melampittidae (Melampittas)
     12 Melanocharitidae (Berrypeckers and Longbills)
      4 Melanopareiidae (Crescentchests)
    208 Meliphagidae (Honeyeaters)
      2 Menuridae (Lyrebirds)
     33 Meropidae (Bee-eaters)
      3 Mesitornithidae (Mesites)
     46 Mimidae (Mockingbirds and Thrashers)
      5 Mohoidae (Hawaiian Honeyeaters)
      3 Mohouidae (Whiteheads)
     21 Momotidae (Motmots)
    136 Monarchidae (Monarch Flycatchers)
    130 Motacillidae (Wagtails and Pipits)
    457 Muscicapidae (Old World Flycatchers)
     41 Musophagidae (Turacos)
    190 Nectariniidae (Sunbirds and Spiderhunters)
      8 Neosittidae (Sittellas)
      4 Nicatoridae (Nicators)
      1 Notiomystidae (Stitchbird)
     15 Numididae (Guineafowl)
     10 Nyctibiidae (Potoos)
     50 Odontophoridae (New World Quail)
      1 Opisthocomidae (Hoatzin)
      3 Oreoicidae (Australo-Papuan Bellbirds)
     46 Oriolidae (Old World Orioles)
      3 Orthonychidae (Logrunners)
     34 Otididae (Bustards)
      1 Oxyruncidae (Sharpbill)
     71 Pachycephalidae (Whistlers and Allies)
      5 Pandionidae (Osprey)
      1 Panuridae (Bearded Reedling)
     45 Paradisaeidae (Birds-of-Paradise)
     46 "Paradoxornithidae (Parrotbills
      2 Paramythiidae (Tit Berrypecker and Crested Berrypecker)
     12 Pardalotidae (Pardalotes)
     98 "Paridae (Tits
    228 Parulidae (New World Warblers)
     55 Passeridae (Old World Sparrows)
      1 Pedionomidae (Plains-wanderer)
     13 Pelecanidae (Pelicans)
     70 Pellorneidae (Ground Babblers and Allies)
     58 Petroicidae (Australasian Robins)
      1 Peucedramidae (Olive Warbler)
     11 Phaethontidae (Tropicbirds)
     56 Phalacrocoracidae (Cormorants and Shags)
    240 "Phasianidae (Pheasants
      5 Philepittidae (Asities)
      8 Phoenicopteridae (Flamingos)
     13 Phoeniculidae (Woodhoopoes and Scimitar-bills)
    119 Phylloscopidae (Leaf Warblers)
      2 Picathartidae (Rockfowl)
    370 Picidae (Woodpeckers)
     67 Pipridae (Manakins)
     59 Pittidae (Pittas)
      1 Pityriaseidae (Bristlehead)
     45 Platysteiridae (Wattle-eyes and Batises)
    154 Ploceidae (Weavers and Allies)
      1 Pluvianellidae (Magellanic Plover)
      1 Pluvianidae (Egyptian Plover)
      7 Pnoepygidae (Cupwings)
     23 Podargidae (Frogmouths)
     31 Podicipedidae (Grebes)
     30 Polioptilidae (Gnatcatchers)
      5 Pomatostomidae (Pseudo-Babblers)
    144 Procellariidae (Shearwaters and Petrels)
      5 Promeropidae (Sugarbirds)
     14 Prunellidae (Accentors)
    251 Psittacidae (New World and African Parrots)
    226 Psittaculidae (Old World Parrots)
     11 Psophiidae (Trumpeters)
      5 Psophodidae (Whipbirds and Wedgebills)
     24 Pteroclidae (Sandgrouse)
      4 Ptiliogonatidae (Silky-flycatchers)
     28 Ptilonorhynchidae (Bowerbirds)
    200 Pycnonotidae (Bulbuls)
    203 "Rallidae (Rails
     64 Ramphastidae (Toucans)
     19 Recurvirostridae (Stilts and Avocets)
     13 Regulidae (Kinglets)
     16 Remizidae (Penduline-Tits)
      1 Rhagologidae (Mottled Berryhunter)
      4 Rheidae (Rheas)
     75 Rhinocryptidae (Tapaculos)
     86 Rhipiduridae (Fantails)
      1 Rhynochetidae (Kagu)
      3 Rostratulidae (Painted-Snipes)
      1 Sagittariidae (Secretary-bird)
      1 Sapayoidae (Sapayoa)
     15 Sarothruridae (Flufftails)
    158 Scolopacidae (Sandpipers and Allies)
      1 Scopidae (Hamerkop)
      2 Semnornithidae (Toucan-Barbets)
     37 Sittidae (Nuthatches)
     21 Spheniscidae (Penguins)
      1 Steatornithidae (Oilbird)
     11 Stenostiridae (Fairy Flycatchers)
     16 Stercorariidae (Skuas and Jaegers)
    318 Strigidae (Owls)
      4 Strigopidae (New Zealand Parrots)
      3 Struthionidae (Ostriches)
    147 Sturnidae (Starlings)
     21 Sulidae (Boobies and Gannets)
     47 Sylviidae (Sylviid Warblers)
    298 Thamnophilidae (Typical Antbirds)
      4 Thinocoridae (Seedsnipes)
    505 Thraupidae (Tanagers and Allies)
     44 Threskiornithidae (Ibises and Spoonbills)
      1 Tichodromidae (Wallcreeper)
     67 "Timaliidae (Tree-Babblers
     57 Tinamidae (Tinamous)
     44 Tityridae (Tityras and Allies)
      6 Todidae (Todies)
    472 Trochilidae (Hummingbirds)
    165 Troglodytidae (Wrens)
     61 Trogonidae (Trogons)
    295 Turdidae (Thrushes and Allies)
     19 Turnicidae (Buttonquail)
    617 Tyrannidae (Tyrant Flycatchers)
     35 Tytonidae (Barn-Owls)
      5 Upupidae (Hoopoes)
      1 Urocynchramidae (Przevalski's Pinktail)
     54 "Vangidae (Vangas
     23 Viduidae (Indigobirds)
    108 "Vireonidae (Vireos
    147 "Zosteropidae (White-eyes)
    
tail -n +2 formatted_eBird_data.csv | cut -d',' -f8 | sort | uniq -c

# Part 2 - Bird Data in Python

In [4]:
def makeBirdDict(filename):
    # this function opens the data file from Thomas et al and extracts the species and family as a dictionary.
    birdDict = {}
    fobj = open(filename,"r", encoding = "ISO-8859-15") # open the file 
    all_records = fobj.readlines() [1:] # read the file, all_records is a list
    for line in all_records:
        record_elements = line.split(",")
        species = record_elements[0]
        family = record_elements[2]
        birdDict[species] = family
    # species = line.split(",") splits it into a new list that is ordered correctly  
    # split lines on comma
    # stick species and family into birdDict
    
    return birdDict

In [3]:
def makeBirdDict(filename):
thomas_birds = makeBirdDict("formatted.nature.csv")
species = list(thomas_birds.keys())
#sorted(species)
species.sort() # internally sorts the list
# first_species = species[0]
# first_fam = thomas_birds[first_species]
# print( first_species, first_fam)
species[1]

print("Species " + species[1] + " belongs to Family " + family[1] + ".")

IndentationError: expected an indented block (<ipython-input-3-0b9940ef2c30>, line 2)

In [5]:
def makeBirdDict(filename):
thomas_birds = makeBirdDict("formatted.nature.csv")
species = list(thomas_birds.keys())
#sorted(species)
species.sort() # internally sorts the list
# first_species = species[0]
# first_fam = thomas_birds[first_species]
# print( first_species, first_fam)
species[1]
counted = Counter(thomas_birds)
print(counted)

print("There are " + species[1] + " total species in Family " + family[1] + ".")

IndentationError: expected an indented block (<ipython-input-5-b7ac02417cfe>, line 2)

# Part 3 - Chapter 5

In [1]:
print(3 == 5)
print(3 > 5)
print(3 <=5)
print(len("ATGC") > 5)
print("GAATTC".count("T") > 1)
print("ATGCTT".startswith("ATG"))
print("ATGCTT".endswith("TTT"))
print("ATGCTT".isupper())
print("ATGCTT".islower())
print("V" in ["V", "W", "L"])

False
False
True
False
True
True
False
True
False
True

In [3]:
print(True)
print(False)
print(Hello)

True
False

NameError: name 'Hello' is not defined

In [4]:
expression_level = 125
if expression_level > 100:
print("gene is highly expressed")

IndentationError: expected an indented block (<ipython-input-4-a6743249a0a8>, line 3)

In [15]:
accs = ['ab56', 'bh84', 'hv76', 'ay93', 'ap97', 'bd72']
for accession in accs:
    if accession.startswith('a'):
        print(accession)

ab56
ay93
ap97

In [17]:
expression_level = 125
if expression_level > 100:
    print("gene is highly expressed")
else:
    print("gene is lowly expressed")

gene is highly expressed

In [19]:
file1 = open("one.txt", "w")
file2 = open("two.txt", "w")
accs = ['ab56', 'bh84', 'hv76', 'ay93', 'ap97', 'bd72']
for accession in accs:
    if accession.startswith('a'):
        file1.write(accession + "\n")
    else:
        file2.write(accession + "\n")

In [20]:
file1 = open("one.txt", "w")
file2 = open("two.txt", "w")
file3 = open("three.txt", "w")
accs = ['ab56', 'bh84', 'hv76', 'ay93', 'ap97', 'bd72']
for accession in accs:
    if accession.startswith('a'):
        file1.write(accession + "\n")
    else:
        if accession.startswith('b'):
            file2.write(accession + "\n")
        else:
            file3.write(accession + "\n")

In [ ]:
file1 = open("one.txt", "w")
file2 = open("two.txt", "w")
file3 = open("three.txt", "w")
accs = ['ab56', 'bh84', 'hv76', 'ay93', 'ap97', 'bd72']
for accession in accs:
    if accession.startswith('a'):
        file1.write(accession + "\n")
    elif accession.startswith('b'):
        file2.write(accession + "\n")
    else:
        file3.write(accession + "\n")

In [21]:
for accession in accs:
    if accession.startswith('a'):
        file1.write(accession + "\n")
    elif accession.startswith('b'):
        file2.write(accession + "\n")
    elif accession.startswith('c'):
        file3.write(accession + "\n")
    elif accession.startswith('d'):
        file4.write(accession + "\n")
    elif accession.startswith('e'):
        file5.write(accession + "\n")
    else:
        file6.write(accession + "\n")

NameError: name 'file6' is not defined

In [1]:
count = 0
while count<10:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9

In [2]:
accs = ['ab56', 'bh84', 'hv76', 'ay93', 'ap97', 'bd72']
for accession in accs:
    if accession.startswith('a'):
        if accession.endswith('3'):
            print(accession)

ay93

In [3]:
accs = ['ab56', 'bh84', 'hv76', 'ay93', 'ap97', 'bd72']
for accession in accs:
    if accession.startswith('a') and accession.endswith('3'):
        print(accession)

ay93

In [4]:
accs = ['ab56', 'bh84', 'hv76', 'ay93', 'ap97', 'bd72']
for accession in accs:
    if accession.startswith('a') or accession.startswith('b'):
        print(accession)

ab56
bh84
ay93
ap97
bd72

In [5]:
accs = ['ab56', 'bh84', 'hv76', 'ay93', 'ap97', 'bd72']
for acc in accs:
    if (acc.startswith('a') or acc.startswith('b')) and acc.endswith('4'):
        print(acc)

bh84

In [6]:
accs = ['ab56', 'bh84', 'hv76', 'ay93', 'ap97', 'bd72']
for acc in accs:
    if acc.startswith('a') and not acc.endswith('6'):
        print(acc)

ay93
ap97

In [7]:
def is_at_rich(dna):
    length = len(dna)
    a_count = dna.upper().count('A')
    t_count = dna.upper().count('T')
    at_content = (a_count + t_count) / length
    if at_content > 0.65:
        return True
    else:
        return False

In [8]:
print(is_at_rich("ATTATCTACTA"))
print(is_at_rich("CGGCAGCGCT"))

True
False

In [9]:
def is_at_rich(dna):
    length = len(dna)
    a_count = dna.upper().count('A')
    t_count = dna.upper().count('T')
    at_content = (a_count + t_count) / length
    return at_content > 0.65

In [10]:
print(is_at_rich("ATTATCTACTA"))
print(is_at_rich("CGGCAGCGCT"))

True
False